<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>机器人首页</title>
</head>
<body>
    <div>你的qq好友列表</div>
    {% for friend in friendList.data %}
        <li>{{ friend.nickname }} qq号:{{ friend.user_id}}  <button onclick="send({{ friend.user_id }}, 'user')">发送</button></li>
    {% endfor %}
    <div>你的群成员列表</div>
    {% for group in getGroupList.data %}
        <li>{{ group.group_name }} qq号:{{ group.group_id}}  <button onclick="send({{ group.group_id }}, 'group')">发送</button></li>
    {% endfor %}

</body>
<script>
    function send(id, type){
        console.log(id,type)
        axios.get('/sendMessage?id='+id+'&type='+type).then(res => {
            console.log(res)
        }).catch(
            err => {
                console.log(err)
            }
        )
    }
</script>
</html>